@import 'header.css';
@import 'content.css';

/* || Define Variables here */

:root {
    /*--color-header-bkg: #3a3a3d;*/
    --color-dark: #2e2e31;
    --color-light: #f2f3f4;
}

/* || General Element Styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--color-light);
}

a {
    cursor: pointer;
}

/* || Object Oriented styles to change placement */

.hide { display: none; }

.f-box-row {
    display: flex;
    flex-direction: row;
}

.f-box-col {
    display: flex;
    flex-direction: column;
}

.f-y-center {
    align-items: center;
}

.f-justify-end {
    justify-content: flex-end;
}

.w-100 { width: 100%; }

.right { margin-left: auto; }

.left { margin-right: auto; }

.clickable { cursor: pointer; }